.search1 {
    background-color: #FF0000;
}

.search2 {
    background-color: #2874f0;
}

.search3 {
    background-color: green ;
}

.search4 {
    background-color: #ff9900;
}

.search5 {
    background-color: purple;
}

.gray {
    background-color: rgb(209, 207, 207);
}